@use "../imports/tools" as *;
@use "../imports/settings" as *;

.filter {
  @include customFlex(column, nowrap, normal, normal);
  border: 2px solid $main;
  background-color: $black;
  border-radius: 0.5rem;
  cursor: pointer;

  &__list {
    position: relative;
  }

  &__header {
    @include customFlex(row, nowrap, space-between, center);
    padding: 0.4rem 1rem;
    gap: 1rem;

    &-text {
      color: $secondary;
      text-transform: capitalize;
    }
  }
}

.list {
  @include customFlex(column, nowrap, normal, normal);
  border: 2px solid $main;
  background-color: $black;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  position: absolute;
  width: 100%;
  z-index: 1;

  &__option {
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 0;
    text-transform: capitalize;
    font-family: cursive; //Change
    transition: color 0.2s ease;

    &:hover {
      color: $secondary;
    }
  }
}

@media screen and (max-width: 650px) {
  .filter {
    width: 100%;
  }
}
