@use "../imports/tools" as *;
@use "../imports/settings" as *;

.main {
  &__list-of-countries {
    @include customFlex(row, wrap, space-evenly, normal);
    gap: 1rem;
  }
  &__button {
    padding: 2rem 0;
    @include customFlex(row, wrap, center, center);
  }

  &__options {
    padding: 2rem 0;
    @include customFlex(row, wrap, space-evenly, normal);
    gap: 1rem;
  }
}
