@use './styles/imports/components';
@use './styles/imports/container';
@use './styles/imports/generic';
@use './styles/imports/settings' as *;
@use './styles/imports/tools' as *;

body {
  background-image: url('https://i.pinimg.com/originals/68/93/9d/68939d5e55dd29fc4fa31b5cb0f82ba6.jpg');
  background-size: contain;
  color: $white;
}

.bg-shadow {
  background-color: #000000bd;
  min-height: 100vh;
}

.default-size {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
